// These colors are specific to the theme. Do not use in a package!

@mainbg: #e3e0d5;
@bg2: #d1cec4;
@bg3: #bfbcb3;
@bg4: #858585;
@fg3: #787878;
@fg2: #6b6b6b;
@mainfg: #5e5e5e;

@comment: #787878;
@builtin: #dd6509; 
@keyword: #80a000;
@type: #908d43;
@const: #4a00a2;
@func: #008bd7;
@string: #626a43;
@var: #bf0937;
@warning: #ff0000;
@warning2: #ff8800;
